.button {
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    &.primary {
        background-color: blue;
        color: white;
        border: none;
    }
    
    &.secondary {
        background-color: gray;
        color: white;
        border: none;
    }
    &.menu {
        background-color: lightgrey;
        color: black;
        border: none;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: rgba(169, 169, 169, 0.9);
        }
    }
    &.danger {
        background-color: red;
        color: white;
        border: none;
    }
    
    &.link {
        background-color: transparent;
        color: #007bff;
        border: none;
        padding: 0;
        text-decoration: underline;
        cursor: pointer;
    
        &:hover,
        &:focus {
            color: #0056b3;
            text-decoration: none;
            background-color: transparent;
        }
    }
    
    &.clear{
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: none;
        &:hover{
            background-color: rgb(255, 255, 255, 0.7);
        }
    }
}

