.appContainer {
    display: flex;
    flex-direction: column;
  }
  
  .nav {
    color: darkslategray;
    padding: 8px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0px;
    height: var(--topbar-height);
    z-index: 1100;
    border-bottom: 1px solid rgb(242, 244, 247);
    .logoSection{
        display: flex;
        align-items: stretch;
        img{
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
        span{
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    .actionsSection{
      display: flex;
      align-items: stretch;
      
      span{
          font-size: 1.5rem;
          font-weight: 600;
      }
  }
  }
  
  .contentContainer {
    display: flex;
    flex-direction: row;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 3px;
    width: 100%;
    margin-top: var(--topbar-height);
  
    .sidebar {
        height: calc(100% - var(--topbar-height));
        top: var(--topbar-height);
        padding: var(--default-container-padding);
        background-color: rgb(250, 250, 250);
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: none;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        z-index: 1200;
        position: fixed;
        outline: 0px;
        left: 0px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        width: var(--menu-size);
        &.close {
            transform: translateX(-var(--menu-size));
            visibility: hidden;
        }
    }
  
    .main {
      flex-grow: 1;
      padding: var(--default-container-padding);
      &.menuIsOpen {
        margin-left: var(--menu-size);
      }
    }
  }
  